.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.loading-planet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  padding: 0.25rem 0;
}

span {
  margin: 0;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1d1d;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #101414;
}