.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  max-width: 14rem;
  margin: 0 auto;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);

  &:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    transform: translateY(0);
  }
}

.card__content {
  text-align: center;
  font-size: large;
  font-weight: 500;
}