:host {
  width: 100%;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-width: 12rem;
  max-width: 36rem;

  p {
    margin: 0;
    padding: 0.25rem 0;
  }
}

.form__filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}